* {
  font-family: Arial, Verdana, sans-serif;
  line-height: 1.4em;
}

body {
  margin: 0;
  font-size: 2em;
}

h1 {
  font-size: 2em;
}

h1 span {
  display: inline-block;
  margin-right: 2em;
}

h2 {
  font-size: 1.6em;
  page-break-after: avoid;
  text-transform: uppercase;
}

h2 span {
  display: inline-block;
  margin-right: 1.65em;
}

h3 {
  text-transform: uppercase;
}

h3 span {
  display: inline-block;
  margin-right: 1.5em;
}

h4 span {
  display: inline-block;
  margin-right: 1.5em;
}

h5 span {
  display: inline-block;
  margin-right: 1.5em;
}


input + label {
  margin-left: 0.5em;
}

ol {
  padding-inline-start: 2.5em;
}

ol.table-of-contents {
  font-weight: bold;
}

ol.table-of-contents li {
  text-transform: uppercase;
}

ol li {
  display:block; /* hide original list counter */
}

ol > li:first-child {
  counter-reset: item; /* reset counter */
}

ol > li {
  counter-increment: item; /* increment counter */
  position: relative;
}

ol > li:before {
  content:counters(item, ".") " "; /* print counter */
  position: absolute;
  margin-right: 100%;
  right: 10px;
}

p {
  margin: 1em 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  margin: 2em 0;
}

table, table th, table td {
  border: 1px solid black;
  /*word-break: break-word;*/
  /*overflow-wrap: break-word;*/
}

table th, table td {
  height: 2em;
  white-space: nowrap;
  padding: 0.5em 0.5em;
}

table th, table td.header {
  font-weight: bold;
  text-align: left;
  background-color: #e6e6e6;
}

table th.lean, table td.lean {
  width: 1%;
}

table.no-page-break{
  page-break-inside: avoid;
}

table.no-border {
  border: none;
  table-layout:fixed;
}

table.not-applicable {
  table-layout: fixed;
}

table.not-applicable th, table.not-applicable td {
  text-align: center;
}

table.results, table.long-results {
  border-width: 3px;
}

table.results label, table.long-results label {
  font-weight: bold;
}

table.results td:last-child, table.long-results td:last-child {
  padding-right: 4em;
}

table.long-results tr:first-child td {
  border-bottom-width: 3px;
}

th.content-wrappable, td.content-wrappable {
  white-space: normal;
}

td.content-wrappable table th, td.content-wrappable table td {
  white-space: normal;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.align-top {
  vertical-align:top
}

.no-border {
  border: none
}

.input-tool {
  line-height: 2em;
}

.input-tool label {
  font-weight: bold;
  margin-left: 0.5em;
  margin-right: 2em;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  ol.table-of-contents {
    padding-inline-start: 2.5em;
  }

  h1, h1 * {
    font-size: 18pt;
  }

  h2, h2 * {
    font-size: 16pt;
  }

  h3, h3 * {
    font-size: 14pt;
  }

  .page:not(:last-of-type) {
    page-break-after: always;
  }

  .table-of-contents * {
    font-size: 16pt;
  }
}

#blueband {
  background-color:#003366;
  width:100%;
  height:24px;
  margin-top: 0.2em;
  margin-bottom: 2em;
}

#header {
  padding-bottom: 2em;
}

#header table {
  border: 1px solid black;
  margin: 0;
}

#header table th, #header table td {
  height: auto;
  padding: 0.3em 0.6em;
  border: none;
}

#heading, #heading table {
  margin: 0;
  border: none;
}

#heading td, #heading th {
  height: auto;
  text-align: left;
  padding: 0.2em;
  border: none;
}

#heading th {
  font-weight: bold;
  background-color: white;
}

#heading #logo {
  text-align: right;
  padding-left: 30px;
}

#footer {
  width: 100%;
  font-size: 0.8em;
  padding-top: 0.5em;
  border-top: 1px solid black;
}

#footer > span {
  display: block;
  float: right;
  text-align: right;
}

table td.hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.break-all{
  word-break: break-all;
}
