<!DOCTYPE html>
<html>

<head>
    <title>Combined Functional and Requirements Testing Plan for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">{{metadata.version}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Tag:</td>
                            <td class="content-wrappable">{{metadata.git.targetTag}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">OpenShift Cluster API URL:</td>
                            <td class="content-wrappable">{{metadata.openShift.apiUrl}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>Combined Functional and Requirements Testing Plan for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
            <li><a href="#section_1">Purpose</a></li>
            <li><a href="#section_2">Scope</a></li>
            <li><a href="#section_3">Roles and Responsibilities</a></li>
            <li><a href="#section_4">Levels of Testing</a>
                <ol>
                    <li><a href="#section_4_1">Integration Testing</a></li>
                    <li><a href="#section_4_2">Acceptance Testing</a></li>
                </ol>
            </li>
            <li><a href="#section_5">Training</a></li>
            <li><a href="#section_6">Integration Testing</a>
                <ol>
                    <li><a href="#section_6_1">Purpose of Integration Testing</a></li>
                    <li><a href="#section_6_2">Scope of Integration Testing</a></li>
                </ol>
            </li>
            <li><a href="#section_7">Acceptance Testing</a>
                <ol>
                    <li><a href="#section_7_1">Functional Testing</a></li>
                    <li><a href="#section_7_2">Non-Functional Testing</a></li>
                </ol>
            </li>
            <li><a href="#section_8">Test Structure and Execution</a>
                <ol>
                    <li><a href="#section_8_1">Test Cases</a></li>
                    <li><a href="#section_8_2">Test Execution</a></li>
                </ol>
            </li>
            <li><a href="#section_9">Traceability Matrix</a></li>
            <li><a href="#section_10">Validation Environment</a></li>
            <li><a href="#section_11">Test Case Failure and Problem Resolution</a>
                <ol>
                    <li><a href="#section_11_1">Automated Test Cases</a></li>
                    <li><a href="#section_11_2">Manual Test Cases</a></li>
                </ol>
            </li>
            <li><a href="#section_12">Integration / Acceptance Testing Documentation</a></li>
            <li><a href="#section_13">Definitions and Abbreviations</a>
                <ol>
                    <li><a href="#section_13_1">Definitions</a></li>
                    <li><a href="#section_13_2">Abbreviations</a></li>
                </ol>
            </li>
            <li><a href="#section_14">Reference Documents</a></li>
            <li><a href="#section_15">Document History</a></li>
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Purpose</h2>
        <p>This document contains the integration and acceptance test as part of functional and requirements testing plan for {{metadata.name}}. Details on the testing strategy and test coverage are defined. Integration testing is based on the functional and configuration specification when applicable, whereas Acceptance testing is based on the user requirements (functional and/or non-functional) of the system. The testing processes, details of test execution, review of test results, and resolution of failures are defined as well.</p>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Scope</h2>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec2.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_3"><span>3</span>Roles and Responsibilities</h2>
        <table>
        <tr>
            <th>Role</th>
            <th>Responsibility</th>
        </tr>
        <tr>
            <td class="content-wrappable">Jenkins (Technical Role)</td>
            <td class="content-wrappable">To run the verification of the system, execute tests if applicable and collect all the needed information.</td>
        </tr>
        <tr>
            <td class="lean">Test Administrator</td>
            <td class="content-wrappable">In case of full automation (and no further manual test cases) - N/A, otherwise Test Administrators will supervise the execution of the manual test cases by the Testers and will review these test cases.</td>
        </tr>
        <tr>
            <td class="lean">Tester</td>
            <td class="content-wrappable">In case of full automation (and no further manual test cases) - N/A, otherwise Testers will execute the manual test cases and document the results.</td>
        </tr>
        <tr>
            <td class="lean">Developer/SME</td>
            <td class="content-wrappable">Writes and, in case of using automation, implements test cases.</td>
        </tr>
    </table>
    </div>

    <div class="page">
        <h2 id="section_4"><span>4</span>Levels of Testing</h2>

        <h3 id="section_4_1"><span>4.1</span>Integration Testing</h3>
        <p>The objective of Integration Testing is to verify whether the applicable components (e.g. modules, micro-services and/or systems) work well together and detect flaws in their interactions.</p>

        <h3 id="section_4_2"><span>4.2</span>Acceptance Testing</h3>
        <p>Acceptance tests refer to functional or non-functional (such as system availability, performance, reliability) user requirements. Examples for non-functional acceptance tests are: load tests, performance tests, recovery tests.</p>
    </div>

    <div class="page">
        <h2 id="section_5"><span>5</span>Training</h2>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec5.content}}}</td>
            </tr>
        </table>

        {{#if data.sections.sec5s2}}
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{content}}}</td>
            </tr>
        </table>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_6"><span>6</span>Integration Testing</h2>

        <h3 id="section_6_1"><span>6.1</span>Purpose of Integration Testing</h3>
        <p>The purpose of the integration testing is to verify the functional, non-functional and reliability between the modules that are integrated and work within the specifications as defined in the functional and/or configuration specifications.</p>

        <h3 id="section_6_2"><span>6.2</span>Scope of Integration Testing</h3>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec6s2.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_7"><span>7</span>Acceptance Testing</h2>
        <h3 id="section_7_1"><span>7.1</span>Functional Testing</h3>

        <h4 id="section_7_1_1"><span>7.1.1 </span>Purpose of Combined Functional and Requirements Testing</h4>
        <p>The purpose of the combined functional/requirements testing is to confirm that the computerized system is capable of performing or controlling the activities of the processes as intended according to the user requirements in a reproducible and effective way, while operating in its specified operating environment.</p>

        <h4 id="section_7_1_2"><span>7.1.2 </span>Scope of Combined Functional and Requirements Testing</h4>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec7s1s2.content}}}</td>
            </tr>
        </table>

        <h3 id="section_7_2"><span>7.2</span>Non-Functional Testing</h3>

        <h4 id="section_7_2_1"><span>7.2.1 </span>Purpose of Non-Functional Testing</h4>
        <p>The purpose of Non-Functional testing is to check non-functional aspects (performance, usability, reliability, etc) of a software application. It is designed to test the readiness of a system as per non-functional parameters which are never addressed by functional testing.</p>

        <h4 id="section_7_2_2"><span>7.2.2 </span>Scope of Non-Functional Testing</h4>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec7s2s2.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_8"><span>8</span>Test Structure and Execution</h2>

        <h3 id="section_8_1"><span>8.1</span>Test Cases</h3>
        <p>Test cases are based on the user requirements, functional specifications and the business processes which are supported by the system. Test cases shall contain test data and expected outcomes against which observed outcomes may be compared. If test cases must be executed in a specific order this has to be defined.</p>
        <p>The level of testing for the individual test cases will be defined based on the risk priority as determined in the risk assessment.</p>
		<table class="no-border">
			<tr>
				<td class="content-wrappable no-border">{{{data.sections.sec8s1.content}}}</td>
			</tr>
		</table>

        <h3 id="section_8_2"><span>8.2</span>Test Execution</h3>
        <p>Test results shall be recorded in a way that independent reviewer can compare the documented acceptance criteria against the (written or captured) test evidence and determine whether the test results meet these criteria.</p>
        <p>If both automated and manual test cases exist, automated test cases will be executed before manual test cases.</p>

        <h4 id="section_8_2_1"><span>8.2.1 </span>Execution of Automated Test Cases</h4>
        <p>In case test execution is automated:</p>

        <p>Jenkins (Technical Role) shall:</p>
        <ul>
            <li>execute the test cases</li>
            <li>record the test results and evidence after the execution and include them in the XUnit file following Good Documentation Practices</li>
            <li>mark the test cases as a "Fail" or a "Pass"</li>
            <li>stop the test execution if one of the test cases has failed</li>
            <li>report back the test execution results to the Test Management Tool</li>
        </ul>

        <p>As the execution is fully automated, as included in the section 3 "Roles and Responsibilities" the Tester and Test Administrator does not apply.</p>

        <h4 id="section_8_2_2"><span>8.2.2 </span>Execution of Manual Test Cases</h4>
        <p>In case test execution is manual:</p>

        <p>Testers shall:</p>
        <ul>
            <li>execute test cases</li>
            <li>record actual test results (e.g. "as per expected result" is not an actual result) and supporting evidence immediately and accurately following Good Documentation Practices</li>
            <li>pass or fail all test cases</li>
            <li>provide comments for all failed test cases</li>
            <li>sign and date each test in spaces provided after test execution</li>
            <li>label any test output or evidence (e.g., screenshots, printouts and any additional pages) with test case number and test step number. Sign and date the output. If pages have successive page numbers signing and dating the first or last page is sufficient.</li>
            <li>if any deviations from the test are encountered, follow the Test Case Failure and Problem Resolution (see section 11)</li>
        </ul>

        <p>If a test case is executed by more than one person (tester), it is required that each tester signs (signature or initials and date) each test step for traceability purpose.</p>

        <p>The Test Administrators shall:</p>
        <ul>
            <li>review the executed test cases and its attachments for completeness and correctness and sign for the review on the signature page</li>
            <li>for failed test cases add comments (including a final pass/fail evaluation and problem resolution) and sign and date the test case</li>
        </ul>

        <p>Test execution and test result review must be independent, i.e. for any individual test case the Tester and the Test Administrator must be different individuals.</p>
        <p>The training records of all testers should be verified prior to initiating testing.</p>

        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec8s2.content}}}</td>
            </tr>
        </table>
    </div>


    <div class="page">
        <h2 id="section_9"><span>9</span>Traceability Matrix</h2>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec9.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_10"><span>10</span>Validation Environment</h2>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec10.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_11"><span>11</span>Test Case Failure and Problem Resolution</h2>
        <p>A test case shall be failed if the observed outcome of a test differs in any way from the expected outcome identified in the test case data. If any step of a test case fails and cannot be resolved, then the entire test case fails. There may be many reasons for failure, some of which may not mean that the system itself has a flaw. It is, however, the Tester's responsibility to fail the test case and indicate in the comments box the failure or problem that occurred, including the test steps related to this discrepancy.</p>

        <p>Reasons for test case failure may include:</p>
        <ul>
            <li>a bug in the system</li>
            <li>a failure related to the operating environment</li>
            <li>a mistake in the test case instructions or data</li>
            <li>a tester's error</li>
        </ul>

        <h3 id="section_11_1"><span>11.1</span> Automated Test Cases</h3>
        <p>All discrepancies occurring during the test execution are automatically recorded in a designated discrepancy log. In case of a re-deployment, a rationale must be documented in a manually created C-DIL document. When advancing to the P environment despite failed test cases or exclusions from testing, a rationale including the analyzed risks must be documented in a manually created C-FTR document (Appendix 1).</p>

        <h3 id="section_11_2"><span>11.2</span> Manual Test Cases</h3>
        <p>Upon failing a test case, the Tester shall always contact the Test Administrator immediately to review the problem. The Test Administrator shall decide how to proceed, since test cases may build upon each other and a failure may cascade through several cases.</p>
        <p>The Test Administrator will also record all discrepancies that occur during the test execution in a designated discrepancy log. The Test Administrator is responsible for determining failure resolutions and whether a failure represents an unacceptable flaw in the system. The Test Administrator will document the result of this determination in the discrepancy log.</p>
        <p>The final evaluation of remaining risks and unresolved critical failures will be assessed in the validation summary report.</p>
    </div>

    <div class="page">
        <h2 id="section_12"><span>12</span>Integration / Acceptance Testing Documentation</h2>
        <p>The following documents will be created as a result of the execution of integration and acceptance testing as part of the functional and requirements testing:</p>
        <ul>
            <li>Traceability as defined in section 9</li>
            <li>All executed integration test cases</li>
            <li>All executed acceptance test cases</li>
            <li>Discrepancy log</li>
        </ul>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec12.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_13"><span>13</span>Definitions and Abbreviations</h2>

        <h3 id="section_13_1"><span>13.1</span>Definitions</h3>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec13s1.content}}}</td>
            </tr>
        </table>

        <h3 id="section_13_2"><span>13.2</span>Abbreviations</h3>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec13s2.content}}}</td>
            </tr>
        </table>

    </div>

    <div class="page">
        <h2 id="section_14"><span>14</span>Reference Documents</h2>
        <ul>
			<li>Risk Assessment (version {{metadata.referencedDocs.RA}})</li>
		</ul>
    </div>

    <div class="page">
        <h2 id="section_15"><span>15</span>Document History</h2>
        {{#if data.documentHistory}}
        <table>
            <tr>
                <th class="lean">Version</th>
                <th class="lean">Date</th>
                <th class="lean">Author</th>
                <th>Change Reference</th>
            </tr>
            {{#each data.documentHistory}}
            <tr>
                <td class="lean">{{{entryId}}}</td>
                <td colspan="2" class="content-wrappable">See Summary of electronic document or signature page of printout.</td>
                <td class="content-wrappable">
                    {{{rational}}}
                    <br>
                    {{#each issueType}}
                    {{#if added}}
                    The following {{type}} were added:
                    <ul>
                        {{#each added}}
                        <li>{{key}}{{#if details}}: {{details}}{{/if}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{#if discontinued}}
                    The following {{type}} were removed:
                    <ul>
                        {{#each discontinued}}
                        <li>{{key}}{{#if details}}: {{details}}{{/if}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{#if changed}}
                    The following {{type}} were changed:
                    <ul>
                        {{#each changed}}
                        <li>{{key}} was previously {{predecessors}}{{#if details}}: {{details}}{{/if}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    <br>
                    {{/each}}
                </td>
            </tr>
            {{/each}}
        </table>
        {{/if}}
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec15.content}}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
