<!DOCTYPE html>
<html>

<head>
    <title>Combined Specification Document URS/FS/CS for '{{data.metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">{{metadata.version}}/{{data.documentHistoryLatestVersionId}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Tag:</td>
                            <td class="content-wrappable">{{metadata.git.targetTag}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">OpenShift Cluster API URL:</td>
                            <td class="content-wrappable">{{metadata.openShift.apiUrl}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>Combined Specification Document URS/FS/CS for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
            <li><a href="#section_1">Introduction and purpose</a></li>
            <li><a href="#section_2">Overview</a></li>
            <li><a href="#section_3">Requirements</a>
                <ol>
                    <li><a href="#section_3_1">Related Business / GXP Process</a></li>
                    <li><a href="#section_3_2">Operational Requirements</a></li>
                    <li><a href="#section_3_3">Non-Operational Requirements</a></li>
                    <li><a href="#section_3_4">Overarching Requirements</a></li>
                    <li><a href="#section_3_5">Roles</a></li>
                    <li><a href="#section_3_6">Interfaces</a></li>
                    <li><a href="#section_3_7">Operational Environment</a></li>
                    <li><a href="#section_3_8">Uncategorized Requirements</a></li>
                </ol>
            </li>
            <li><a href="#section_4">Constraints</a>
                <ol>
                    <li><a href="#section_4_1">Compatibility</a></li>
                    <li><a href="#section_4_2">Procedural Constraints</a></li>
                </ol>
            </li>
            <li><a href="#section_5">Definitions and Abbreviations</a>
                <ol>
                    <li><a href="#section_5_1">Definitions</a></li>
                    <li><a href="#section_5_2">Abbreviations</a></li>
                </ol>
            </li>
            <li><a href="#section_6">Reference Documents</a></li>
            <li><a href="#section_7">Document History</a></li>
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Introduction and purpose</h2>
        <table class="no-border">
            <tr>
                <td class="content-wrappable no-border">{{{data.sections.sec1.content}}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Overview</h2>
        {{#if data.sections.sec2.show}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec2.content}}}</td>
                </tr>
            </table>
        {{else}}
            <p>Not mandatory</p>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_3"><span>3</span>Requirements</h2>
        <p>Requirements intended to fulfil applicable regulatory requirements are included in the tables below.</p>

        <h3 id="section_3_1"><span>3.1</span>Related Business / GxP Process</h3>
        <p>N/A</p>

        <h3 id="section_3_2"><span>3.2</span>Operational Requirements</h3>
        <p>N/A</p>

            <h4 id="section_3_2_1"><span>3.2.1</span> Functional Requirements</h4>
            {{#if data.requirements.functionalrequirements}}
                {{#if data.requirements.functionalrequirements.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.functionalrequirements.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.functionalrequirements.epics}}
                    <h5 id="section_3_2_1_{{epicIndex}}"><span>3.2.1.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h5>
                    <span>{{{epicDescription}}}</span>
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each stories}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                    </table>
                {{/each}}
             {{else}}
             <p>N/A</p>/p>
             {{/if}}


            <h4 id="section_3_2_2"><span>3.2.2</span> Data Requirements</h4>
            {{#if data.requirements.datarequirements}}
                {{#if data.requirements.datarequirements.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.datarequirements.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.datarequirements.epics}}
                    <h5 id="section_3_2_2_{{epicIndex}}"><span>3.2.2.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h5>
                    <span>{{{epicDescription}}}</span>
                    <table>
                        <thead>
                            <th>No.</th>
                            <th>Document</th>
                            <th>Requirement</th>
                            <th>Applicability</th>
                        </thead>
                        <tbody>
                            {{#each stories}}
                            <tr>
                                <td class="lean align-top" rowspan="3">{{key}}</td>
                                <td class="lean">URS</td>
                                <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">FS</td>
                                <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">CS</td>
                                <td class="content-wrappable">N/A</td>
                                <td class="lean">N/A</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/each}}
            {{else}}
             <p>N/A</p>/p>
            {{/if}}


            <h4 id="section_3_2_3"><span>3.2.3</span> Technical Requirements</h4>
            <p>N/A</p>

            <h4 id="section_3_2_4"><span>3.2.4</span> Maintenance Requirements</h4>
            <p>N/A</p>

        <h3 id="section_3_3"><span>3.3</span>Non-Operational Requirements</h3>
            <h4 id="section_3_3_1"><span>3.3.1</span> Performance Requirements</h4>
            <p>N/A</p>

            <h4 id="section_3_3_2"><span>3.3.2</span> Availability Requirements</h4>
            <p>N/A</p>

            <h4 id="section_3_3_3"><span>3.3.3</span> Security Requirements</h4>
                {{#if data.requirements.securityrequirements}}
                    {{#if data.requirements.securityrequirements.noepics}}
                    <table>
                        <thead>
                            <th>No.</th>
                            <th>Document</th>
                            <th>Requirement</th>
                            <th>Applicability</th>
                        </thead>
                        <tbody>
                            {{#each data.requirements.securityrequirements.noepics}}
                            <tr>
                                <td class="lean align-top" rowspan="3">{{key}}</td>
                                <td class="lean">URS</td>
                                <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">FS</td>
                                <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">CS</td>
                                <td class="content-wrappable">N/A</td>
                                <td class="lean">N/A</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{/if}}

                    {{#each data.requirements.securityrequirements.epics}}
                        <h5 id="section_3_3_3_{{epicIndex}}"><span>3.3.3.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h5>
                        <span>{{{epicDescription}}}</span>
                        <table>
                            <thead>
                                <th>No.</th>
                                <th>Document</th>
                                <th>Requirement</th>
                                <th>Applicability</th>
                            </thead>
                            <tbody>
                                {{#each stories}}
                                <tr>
                                    <td class="lean align-top" rowspan="3">{{key}}</td>
                                    <td class="lean">URS</td>
                                    <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                                    <td class="lean">{{applicability}}</td>
                                </tr>
                                <tr>
                                    <td class="lean">FS</td>
                                    <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                                    <td class="lean">{{applicability}}</td>
                                </tr>
                                <tr>
                                    <td class="lean">CS</td>
                                    <td class="content-wrappable">N/A</td>
                                    <td class="lean">N/A</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{/each}}                
                {{else}}
                    <p>N/A</p>
                {{/if}}

            <h4 id="section_3_3_4"><span>3.3.4</span> Regulatory Requirements</h4>
            <p>N/A</p>

        <h3 id="section_3_4"><span>3.4</span>Overarching Requirements</h3>
        <p>N/A</p>

        <h3 id="section_3_5"><span>3.5</span>Roles</h3>
            {{#if data.requirements.roles}}
                {{#if data.requirements.roles.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.roles.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.roles.epics}}
                    <h4 id="section_3_5_{{epicIndex}}"><span>3.5.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h4>
                    <span>{{{epicDescription}}}</span>
                    <table>
                        <thead>
                            <th>No.</th>
                            <th>Document</th>
                            <th>Requirement</th>
                            <th>Applicability</th>
                        </thead>
                        <tbody>
                        {{#each stories}}
                            <tr>
                                <td class="lean align-top" rowspan="3">{{key}}</td>
                                <td class="lean">URS</td>
                                <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">FS</td>
                                <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">CS</td>
                                <td class="content-wrappable">N/A</td>
                                <td class="lean">N/A</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/each}}
        {{else}}
            <p>Not mandatory</p>
        {{/if}}

        <h3 id="section_3_6"><span>3.6</span>Interfaces</h3>
            {{#if data.requirements.interfacerequirements}}
                {{#if data.requirements.interfacerequirements.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.interfacerequirements.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.interfacerequirements.epics}}
                <h4 id="section_3_6_{{epicIndex}}"><span>3.6.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h4>
                <span>{{{epicDescription}}}</span>
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each stories}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/each}}
            {{else}}
             <p>N/A</p>
            {{/if}}

        <h3 id="section_3_7"><span>3.7</span>Operational Environment</h3>
            {{#if data.requirements.environmentrequirements}}
                {{#if data.requirements.environmentrequirements.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.environmentrequirements.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.environmentrequirements.epics}}
                    <h4 id="section_3_7_{{epicIndex}}"><span>3.7.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h4>
                    <span>{{{epicDescription}}}</span>
                    <table>
                        <thead>
                            <th>No.</th>
                            <th>Document</th>
                            <th>Requirement</th>
                            <th>Applicability</th>
                        </thead>
                        <tbody>
                            {{#each stories}}
                            <tr>
                                <td class="lean align-top" rowspan="3">{{key}}</td>
                                <td class="lean">URS</td>
                                <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">FS</td>
                                <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                                <td class="lean">{{applicability}}</td>
                            </tr>
                            <tr>
                                <td class="lean">CS</td>
                                <td class="content-wrappable">N/A</td>
                                <td class="lean">N/A</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/each}}
            {{else}}
             <p>N/A</p>
            {{/if}}

        <h3 id="section_3_8"><span>3.8</span> Uncategorized Requirements</h3>
            {{#if data.requirements.uncategorized}}
                {{#if data.requirements.uncategorized.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.uncategorized.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.uncategorized.epics}}
                <h4 id="section_3_8_{{epicIndex}}"><span>3.8.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h4>
                <span>{{{epicDescription}}}</span>
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each stories}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/each}}
            {{else}}
             <p>N/A</p>
            {{/if}}
    </div>

    <div class="page">
        <h2 id="section_4"><span>4</span>Constraints</h2>

        <h3 id="section_4_1"><span>4.1</span>Compatibility</h3>
            {{#if data.requirements.compatibility}}
                {{#if data.requirements.compatibility.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.compatibility.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.compatibility.epics}}
                <h4 id="section_4_1_{{epicIndex}}"><span>4.1.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h4>
                <span>{{{epicDescription}}}</span>
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each stories}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/each}}
            {{else}}
             <p>N/A</p>
            {{/if}}

        <h3 id="section_4_2"><span>4.2</span>Procedural Constraints</h3>
            {{#if data.requirements.proceduralconstraints}}
                {{#if data.requirements.proceduralconstraints.noepics}}
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each data.requirements.proceduralconstraints.noepics}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}

                {{#each data.requirements.proceduralconstraints.epics}}
                <h4 id="section_4_2_{{epicIndex}}"><span>4.2.{{epicIndex}}</span>{{key}}: {{epicTitle}}</h4>
                <span>{{{epicDescription}}}</span>
                <table>
                    <thead>
                        <th>No.</th>
                        <th>Document</th>
                        <th>Requirement</th>
                        <th>Applicability</th>
                    </thead>
                    <tbody>
                        {{#each stories}}
                        <tr>
                            <td class="lean align-top" rowspan="3">{{key}}</td>
                            <td class="lean">URS</td>
                            <td class="content-wrappable">Summary: {{{ursName}}}{{#if ursDescription}}<br>{{{ursDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">FS</td>
                            <td class="content-wrappable">Summary: {{{fsName}}}{{#if }}<br>{{{fsDescription}}}{{/if}}</td>
                            <td class="lean">{{applicability}}</td>
                        </tr>
                        <tr>
                            <td class="lean">CS</td>
                            <td class="content-wrappable">N/A</td>
                            <td class="lean">N/A</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/each}}
            {{else}}
             <p>N/A</p>
            {{/if}}
    </div>

    <div class="page">
        <h2 id="section_5"><span>5</span>Definitions and Abbreviations</h2>

        <h3 id="section_5_1"><span>5.1</span>Definitions</h3>
        {{#if data.sections.sec5s1.show}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec5s1.content}}}</td>
                </tr>
            </table>
        {{else}}
            <p>N/A</p>
        {{/if}}

        <h3 id="section_5_2"><span>5.2</span>Abbreviations</h3>
        {{#if data.sections.sec5s2.show}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec5s2.content}}}</td>
                </tr>
            </table>
        {{else}}
            <p>N/A</p>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_6"><span>6</span>Reference Documents</h2>
        {{#if data.sections.sec6.show}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec6.content}}}</td>
                </tr>
            </table>
        {{else}}
            <p>N/A</p>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_7"><span>7</span>Document History</h2>
        {{#if data.documentHistory}}
        <table>
            <thead>
                <th class="lean">Version</th>
                <th class="lean">Date</th>
                <th class="lean">Author</th>
                <th>Change Reference</th>
            </thead>
            <tbody>
                {{#each data.documentHistory}}
                <tr>
                    <td class="lean">{{{docVersion}}}</td>
                    <td colspan="2" class="content-wrappable">See Summary of electronic document or signature page of printout.</td>
                    <td class="content-wrappable">
                        {{{rational}}}
                        <br>
                        {{#each issueType}}
                        {{#if added}}
                        The following {{type}} were added:
                        <ul>
                            {{#each added}}
                            <li>{{key}}{{#if details}}: {{details}}{{/if}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{#if discontinued}}
                        The following {{type}} were removed:
                        <ul>
                            {{#each discontinued}}
                            <li>{{key}}{{#if details}}: {{details}}{{/if}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{#if changed}}
                        The following {{type}} were changed:
                        <ul>
                            {{#each changed}}
                            <li>{{key}} was previously {{predecessors}}{{#if details}}: {{details}}{{/if}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        <br>
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        {{#if data.sections.sec7.show}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec7.content}}}</td>
                </tr>
            </table>
        {{/if}}
    </div>
</body>
</html>
