<!DOCTYPE html>
<html lang="en">

<head>
    <title>System and Software Description Document for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
        <div>
            <table id="heading">
                <tbody>
                {{#with metadata}}
                    <tr>
                        <td>
                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="lean">Date Created</th>
                                    <td class="content-wrappable">{{dateCreated}}</td>
                                </tr>
                                <tr>
                                    <th class="lean">Change Number</th>
                                    <td class="content-wrappable">{{changeId}}</td>
                                </tr>
								<tr>
									<th class="lean">Change Reason</th>
									<td class="content-wrappable">{{changeReason}}</td>
								</tr>
                                <tr>
                                    <th class="lean">Configuration Item</th>
                                    <td class="content-wrappable">{{configItem}}</td>
                                </tr>
                                <!-- cut: BCN workshop jan                                
                                <tr>
                                    <th class="lean">OpenShift Cluster API URL</th>
                                    <td class="content-wrappable"><a href="{{{openShiftURL}}}">{{openShiftURL}}</a></td>
                                </tr> -->
                                <tr>
                                    <th class="lean">Release Manager Git URL</th>
                                    <td class="content-wrappable"><a href="{{{gitURL}}}">{{gitURL}}</a></td>
                                </tr>
                                <tr>
                                    <th class="lean">Release Manager Git SHA</th>
                                    <td class="content-wrappable"><a href="{{{commitURL}}}">{{rmCommitHash}}</a></td>
                                </tr>
                                <tr>
                                    <th class="lean">Jenkins Build</th>
                                    <td class="content-wrappable">{{build}}</td>
                                </tr>
                                <tr>
                                    <th class="lean">based on template</th>
                                    <td class="content-wrappable">{{template_type}} / version: {{template_version}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="logo" class="lean"></td>
                    </tr>
                {{/with}}
                </tbody>
            </table>
        </div>

        <div id="blueband">&nbsp;</div>
        <main>
        <h1>System and Software Description Document for '{{metadata.name}}'</h1>
        <p>
            This document describes the system architecture, components, and software configuration in detail.
            It includes technical specifications, interfaces, and dependencies to provide a comprehensive understanding of the system.
            This description supports validation activities, operational readiness, and compliance with regulatory requirements.  
        </p>
        <section class="page">
        <h2>Table of Contents</h2>
        <nav>
        <ol class="table-of-contents">
            <li><a href="#section_1">System Overview</a></li>
            <li><a href="#section_2">System Components</a></li>
            <li><a href="#section_3">System Modules</a></li>
            <li><a href="#section_4">System Relations</a></li>
            <ol>
                <li><a href="#section_4_1">Environments</a></li>
                <li><a href="#section_4_2">Database projects</a></li>
                <li><a href="#section_4_3">Interfaces / Integrations</a></li>
                <li><a href="#section_4_4">Software</a></li>
                <li><a href="#section_4_5">Others</a></li>
            </ol>
            <li><a href="#section_5">References</a></li>
			<li><a href="#section_6">Change History</a></li>
        </ol>
        </nav>
        </section>

    <section class="page">
        <h2 id="section_1" class="autonumber">System Overview</h2>

        <p>This section provides an overview of the system <em>{{metadata.configItem}}</em>.
            All information in this section has been obtained from the CMDB, for its endpoint see references chapter.</p>

        {{#if data.cmdbAttachmentOveriew}}
            <img src="data:{{{data.cmdbAttachmentOveriew.contentType}}};base64,{{{data.cmdbAttachmentOveriew.data}}}" alt="System Overview Diagram" class="center" />
            Created by {{{data.cmdbAttachmentOveriew.createdBy}}} on {{{data.cmdbAttachmentOveriew.createdDate}}} (filename: {{{data.cmdbAttachmentOveriew.fileName}}})
        {{else}}
            <p><em>No dedicated system diagram found in CMDB for the config item with name 'overview.png/jpg/jpeg'.</em></p>
        {{/if}}

        {{#if data.fullDiagramPngImage}}
            <img src="data:image/png;base64,{{{data.fullDiagramPngImage}}}" alt="System Diagram" class="center" />
        {{else}}
            <p><em>Please find the System Diagram of relations in the attached file 'system-diagram.png'.</em></p>
        {{/if}}

        <table>
            <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {{#with data.parentCi}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Type</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{application_type}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                <!-- cut: BCN 3 workshop -->
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Type</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_type}}</td>
                </tr>
                {{#if version_number}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Vendor version</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{version_number}}</td>
                </tr>
                {{/if}}
                <!-- cut: BCN 3 workshop tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr -->
            {{/with}}
            </tbody>
        </table>
    </section>

    <section class="page">
        <h2 id="section_2" class="autonumber">System Components</h2>

        <p>This section lists the components (Bitbucket repositories) of the system <em>{{metadata.configItem}}</em>.
            Only components of type <em>ods</em>, <em>ods-infra</em>, and <em>ods-service</em>
            as defined in <em>BI-IT-DEVSTACK</em> can be installed.</p>
		{{#if data.componentsDiagramPngImage}}
            The below diagram displays the components and their relations.
            <img src="data:image/png;base64,{{{data.componentsDiagramPngImage}}}" alt="System Components" class="center"/>
        {{/if}}

        <table>
            <thead>
				<th>Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>Installable?</th>
				<th>Supplier</th>
                <!-- cut: BCN 3rd ws 
    				th>Version</th -->
				<th>Bitbucket URL</th>
            </thead>
            <tbody>
                {{#each data.components}}
                <tr>
                    <td class="content-wrappable" style="vertical-align: top;">{{repo.name}}</td>
                    <td class="content-wrappable" style="vertical-align: top;">{{description}}</td>
					<td class="content-wrappable" style="vertical-align: top;">{{type}}</td>
                    <td class="content-wrappable" style="vertical-align: top;">{{#if installable}}Yes{{else}}No{{/if}}</td>
                    <td class="content-wrappable" style="vertical-align: top;">{{supplier}}</td>
                    <!-- cut: BCN 3rd ws 
                        td class="content-wrappable" style="vertical-align: top;">{{version}}</td-->
                    <td class="content-wrappable break-all" style="vertical-align: top;"><div><a href="{{{repo.url}}}">{{repo.url}}</a></div></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <section class="page">
        <h2 id="section_3" class="autonumber">System Modules</h2>

        <p>This section lists the modules of the system <em>{{metadata.configItem}}</em>.
        All information in this section has been obtained from the CMDB, for its endpoint see references chapter.</p>

        {{#if data.parentCiModulesPngImage}}
        <img src="data:image/png;base64,{{{data.parentCiModulesPngImage}}}" alt="Module Diagram" class="center" />
        {{/if}}

        {{#each data.parentCiModules}}
        <table>
            <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if application_type}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Type</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{application_type}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
        {{/each}}
    </section>

    <section class="page">
        <h2 id="section_4" class="autonumber">System Relations</h2>

        <p>This section lists the system relations of the system <em>{{metadata.configItem}}</em>.
            All information in this section has been obtained from the CMDB for the <em>{{environment}}</em> environment.</p>

        <!-- cut BCN Jan WS
        {{#if data.parentCiRelationsPngImage}}
        <img src="data:image/png;base64,{{{data.parentCiRelationsPngImage}}}" alt="Relation Diagram" class="center" />
        {{/if}}

        {{#each data.parentCiRelations}}
        <table>
            <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if sys_class_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Class</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{sys_class_name}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if service_classification}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Service Classification</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{service_classification}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                <!-- cut BCN Jan workshop
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
                -->
            </tbody>
        </table>
        {{/each}}
        -->

        <!-- cut BCN Jan WS -->
        <h3 id="section_4_1" class="autonumber">Environments</h3>
        This section shows the environments related to the system '{{metadata.configItem}}'.

        {{#if data.environments}}
            {{#each data.environments}}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if sys_class_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Class</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{sys_class_name}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if service_classification}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Service Classification</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{service_classification}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                <!-- cut BCN Jan workshop
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
                -->
            </tbody>
        </table>
            {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}

        <h3 id="section_4_2" class="autonumber">Database Projects</h3>
        This section shows the database projects related to the system '{{metadata.configItem}}'.

        {{#if data.databaseProjects}}
            {{#if data.parentCiDatabaseProjectsPngImage}}
        <img src="data:image/png;base64,{{{data.parentCiDatabaseProjectsPngImage}}}" alt="Database Projects" class="center" />
            {{/if}}

            {{#each data.databaseProjects}}
        <table>
            <thead>
            <tr>
                <!-- use later once the generic tabular structure got companded
                <th>Database instance</th>
                <th>Database farm instance</th>
                <th>Server</th>
                -->
                <th>Property</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if sys_class_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Class</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{sys_class_name}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if service_classification}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Service Classification</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{service_classification}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                <!-- cut BCN Jan workshop
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
                -->
            </tbody>
        </table>
            {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}

        <h3 id="section_4_3" class="autonumber">Interfaces (Integrations)</h3>
        This section shows the interfaces, including the information objects transferred and technology used, for the system '{{metadata.configItem}}'.

        {{#if data.interfaces}}
            {{#if data.parentCiInterfacesPngImage}}
        <img src="data:image/png;base64,{{{data.parentCiInterfacesPngImage}}}" alt="Interfaces Diagram" class="center" />
            {{/if}}

            {{#each data.interfaces}}
        <table>
            <thead>
            <tr>
                <!-- use later once the generic tabular structure got companded
                <th>Interface</th>
                <th>Source System CI Name</th>
                <th>Target System CI Name</th>
                <th>Information Object transferred</th>
                <th>Technology used / installed on</th>
                -->
                <th>Property</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if sys_class_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Class</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{sys_class_name}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if service_classification}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Service Classification</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{service_classification}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                <!-- cut BCN Jan workshop
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
                -->
            </tbody>
        </table>
            {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}

        <h3 id="section_4_4" class="autonumber">Software</h3>
        This section shows the software used by the system '{{configItem}}'.

        {{#if data.parentCiSoftwarePngImage}}
        <img src="data:image/png;base64,{{{data.parentCiSoftwarePngImage}}}" alt="Software Diagram" class="center" />
        {{/if}}

        {{#each data.software}}
        <table>
            <thead>
            <tr>
                <th>Software Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if sys_class_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Class</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{sys_class_name}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if service_classification}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Service Classification</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{service_classification}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                <!-- cut BCN Jan workshop
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
                -->
            </tbody>
        </table>
            {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}

        <h3 id="section_4_5" class="autonumber">Others</h3>
        This section shows system relations not mentioned above for the system '{{metadata.configItem}}'.

        {{#if data.other}}
            {{#if data.parentCiOtherPngImage}}
        <img src="data:image/png;base64,{{{data.parentCiOtherPngImage}}}" alt="Others Diagram" class="center" />
            {{/if}}

            {{#each data.other}}
        <table>
            <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name}}</td>
                </tr>
                {{#if name_business_friendly}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Friendly Name</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{name_business_friendly}}</td>
                </tr>
                {{/if}}
                {{#if sys_class_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Class</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{sys_class_name}}</td>
                </tr>
                {{/if}}
                {{#if relation.friendly_name}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Relation</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{relation.friendly_name}}</td>
                </tr>
                {{/if}}
                {{#if short_description}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Description</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{short_description}}</td>
                </tr>
                {{/if}}
                {{#if service_classification}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Service Classification</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{service_classification}}</td>
                </tr>
                {{/if}}
                {{#if gxp_relevant}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Relevant</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_relevant}}</td>
                </tr>
                {{/if}}
                <!-- cut BCN Jan workshop
                {{#if gxp_criticality}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GxP Criticality</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gxp_criticality}}</td>
                </tr>
                {{/if}}
                {{#if gamp_category}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">GAMP Category</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{gamp_category}}</td>
                </tr>
                {{/if}}
                {{#if owned_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Owner</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{owned_by.email}}</td>
                </tr>
                {{/if}}
                {{#if managed_by.email}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">System Lead</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{managed_by.email}}</td>
                </tr>
                {{/if}}
                {{#if validation_determination_reference}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">Validation Determination</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{validation_determination_reference}}</td>
                </tr>
                {{/if}}
                {{#if slc_documents_location}}
                <tr>
                    <th class="content-wrappable" style="vertical-align: top;">SLC Documents Location</th>
                    <td class="content-wrappable" style="vertical-align: top;">{{slc_documents_location}}</td>
                </tr>
                {{/if}}
                -->
            </tbody>
        </table>
            {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}
    </section>

    <section class="page">
        <h2 id="section_5" class="autonumber">References / Glossary</h2>
        Generated by BI-IT-DEVSTACK, for SLC documentation check EDMS
        <ul><li>Configuration Mgmt Database: <a href="{{{data.cmdbUrl}}}">{{data.cmdbUrl}}</a></li></ul>
        {{#with data.references}}
            <ul>
                {{#with req}}
                    <li>Requirements Specification incl. Risk Assessment Document. (Veeva Quality Document ID: <a href="{{{link}}}">{{id}}</a>)</li>
                {{/with}}
            </ul>
        {{else}}
            <p><em>No document references available.</em></p>
        {{/with}}
        <table>
            <thead>
            <tr>
                <th>glossary term</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BI-IT-DEVSTACK</td>
                    <td>Boehringer Ingelheim Development stack</td>
                </tr>
                <tr>
                    <td>EDMS</td>
                    <td>Electronic Document Management System</td>
                </tr>
            </tbody>
        </table>
    </section>

	<section class="page">
        <h2 id="section_6" class="autonumber">Change History</h2>
        {{#if data.changeHistory}}
            <table>
                <thead>
                <tr>
                    <th>Change Number</th>
                    <th>Change Reason</th>
                </tr>
                </thead>
                <tbody>
                {{#each data.changeHistory}}
                    <tr>
                        <td>{{changeNumber}}</td>
                        <td class="content-wrappable">{{changeReason}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <p><em>No change history available.</em></p>
        {{/if}}
    </section>
    </main>
</body>
</html>
