<!DOCTYPE html>
<html>

<head>
    <title>Software Development Testing Plan for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">{{metadata.version}}/{{data.documentHistoryLatestVersionId}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Tag:</td>
                            <td class="content-wrappable">{{metadata.git.targetTag}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">OpenShift Cluster API URL:</td>
                            <td class="content-wrappable">{{metadata.openShift.apiUrl}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>Software Development Testing Plan for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
            <li><a href="#section_1">Introduction</a></li>
            <li><a href="#section_2">Responsibilities</a></li>
            <li><a href="#section_3">Test Strategy and Environment</a>
                <ol>
                    <li><a href="#section_3_1">Test Environment</a></li>
                    <li><a href="#section_3_2">Modules (Unit) Tested</a></li>
                    <li><a href="#section_3_3">Excluded Modules</a></li>
                    <li><a href="#section_3_4">Integration Level Tests</a></li>
                    <li><a href="#section_3_5">System Level Tests</a></li>
                    <li><a href="#section_3_6">Test Dependencies and Relationships</a></li>
                    <li><a href="#section_3_7">Error Handling and Corrective Actions</a></li>
                </ol>
            </li>
            <li><a href="#section_4">Test Cases</a></li>
            <li><a href="#section_5">Definitions and Abbreviations</a>
                <ol>
                    <li><a href="#section_5_1">Definitions</a></li>
                    <li><a href="#section_5_2">Abbreviations</a></li>
                </ol>
            </li>
            <li><a href="#section_6">Reference Documents</a></li>
            <li><a href="#section_7">Document History</a></li>
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Introduction</h2>
        <p>The purpose of the Software Development Testing Plan is to document the structural and/or functional testing of {{metadata.name}} that will be conducted to verify the implementation of the design for each unit/module of the Computer System, and the system functions as specified in the System and Software Design / Functional Specifications.</p>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Responsibilities</h2>
        Tests are executed by the platform / Jenkins build engine and are written by developers during the development phase.
        <table>
            <thead>
                <th>Role</th>
                <th>Responsibilities</th>
            </thead>
            <tbody>
                <tr>
                    <td>Developer</td>
                    <td>Writes tests</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page">
        <h2 id="section_3"><span>3</span>Test Strategy and Environment</h2>
        <p>Tests are located within each repository, co-located to binaries or source code. Those tests are linked to test cases in <em>JIRA</em>, and their results are reported within the Software Development Testing Report. Jenkins executes those tests during the build, and potentially after the installation phase of each component, and uses <b>xUnit</b> to report them for later usage. The report is generated automatically from the xUnit results, linked to <em>JIRA</em> testcases.</p>
    </div>

    <div class="page">
        <h3 id="section_3_1"><span>3.1</span>Test Environment</h3>
        <p>The tests are executed on qualified infrastructure (<em>BI-IT-DEVSTACK</em>, <em>BI-IS-CONTAINER-PAAS</em>). If a testcase requires further infrastructure (e.g. AWS), this is described as part of the System and Software Design Specification, and its location will be recorded as part of the Software Development Testing Report.</p>
    </div>

    <div class="page">
        <h3 id="section_3_2"><span>3.2</span>Modules (Unit) Tested</h3>
        <p>The following table contains the list of repositories that will be scanned for unit tests. For the unit tests defined in JIRA, the test ID is shown. More information about them can be found in <a href="#section_4">section 4</a>.</p>

        <table>
               <thead>
                   <th class="lean">Module Name</th>
                   <th class="lean">Description</th>
                   <th class="lean">Test IDs</th>
               </thead>
            <tbody>
                {{#each data.modules}}
                <tr>
                    <td class="lean">{{id}}</td>
                    <td class="content-wrappable">{{description}}</td>
                    <td class="content-wrappable">{{tests}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="page">
        <h3 id="section_3_3"><span>3.3</span>Excluded Modules</h3>
        <p><em>N/A</em>. The Software Development Testing Report will contain code/test coverage information, which includes any configured exclusions.</p>
    </div>

    <div class="page">
        <h3 id="section_3_4"><span>3.4</span>Integration Level Tests</h3>
        <p>Integration tests are executed in the CFTP/CFTR after all components were installed successfully. They are contained in a separate project, and if applicable, will be executed during <em>Installation Verification</em>.</p>
    </div>

    <div class="page">
        <h3 id="section_3_5"><span>3.5</span>System Level Tests</h3>
        <p><em>N/A</em>. In case they exist, they will be executed after the installation of the component / system, and if applicable in case the project management considers it necessary, will be managed on the CFTP/CFTR.</p>
    </div>

    <div class="page">
        <h3 id="section_3_6"><span>3.6</span>Test Dependencies and Relationships</h3>
        <p>N/A. All unit tests are contained within each component's repository. Integration and system tests are contained within an end-to-end test repository and, if applicable, are executed only after all components were installed and unit tested successfully.</p>
    </div>

    <div class="page">
        <h3 id="section_3_7"><span>3.7</span>Error Handling and Corrective Actions</h3>
        <p>Failing automated tests, at the unit, integration, and system level will cause the build process to abort. Detailed reporting of failed test cases will be reported as part of the Software Development Test Report, Installation Qualification Report, and Operational Qualification Report, respectively.</p>
    </div>

    <div class="page">
        <h2 id="section_4"><span>4</span>Test Cases</h2>
        {{#if data.tests}}
        <p>The following table shows only the Unit test cases which mitigate or cover the corresponding Risks or System Requirements and are defined in Jira by the project team. They can be found in the detailed Unit Test Report searching by the ID from Jira.</p>
        <table>
            <thead>
                <th class="lean">CSD ID</th>
                <th class="lean">Test ID</th>
                <th class="content-wrappable">Reference to System and Software Design Spec</th>
                <th class="content-wrappable">Assigned Risk Level per Risk Assessment</th>
                <th class="content-wrappable">Description</th>
                <th class="lean">Passed (Y/N)</th>
                <th class="lean">Comments</th>
            </thead>
            <tbody>
                {{#each data.tests}}
                <tr>
                    <td class="content-wrappable">{{systemRequirement}}</td>
                    <td class="lean">{{testKey}}</td>
                    <td class="content-wrappable">{{{softwareDesignSpec}}}</td>
                    <td class="lean">{{riskLevel}}</td>
                    <td class="content-wrappable">{{{description}}}</td>
                    <td class="lean">&nbsp;</td>
                    <td class="lean">&nbsp;</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
            <p>N/A</p>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_5"><span>5</span>Definitions and Abbreviations</h2>

        <h3 id="section_5_1"><span>5.1</span>Definitions</h3>
        {{#if data.sections.sec5s1.done}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec5s1.content}}}</td>
                </tr>
            </table>
        {{else}}
            <p>N/A</p>
        {{/if}}

        <h3 id="section_5_2"><span>5.2</span>Abbreviations</h3>
        {{#if data.sections.sec5s2.done}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec5s2.content}}}</td>
                </tr>
            </table>
        {{else}}
            <p>N/A</p>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_6"><span>6</span>Reference Documents</h2>
        <ul>
            <li>Combined Specification Document ({{metadata.referencedDocs.CSD}})</li>
            <li>System and Software Design Specification including Source Code Review Plan ({{metadata.referencedDocs.SSDS}})</li>
            <li>Risk Assessment ({{metadata.referencedDocs.RA}})</li>
        </ul>
        {{#if data.sections.sec6.done}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec6.content}}}</td>
                </tr>
            </table>
        {{/if}}
    </div>

    <div class="page">
        <h2 id="section_7"><span>7</span>Document History</h2>
        {{#if data.documentHistory}}
        <table>
            <thead>
                <th class="lean">Version</th>
                <th class="lean">Date</th>
                <th class="lean">Author</th>
                <th>Change Reference</th>
            </thead>
            <tbody>
                {{#each data.documentHistory}}
                <tr>
                    <td class="lean">{{{docVersion}}}</td>
                    <td colspan="2" class="content-wrappable">See Summary of electronic document or signature page of printout.</td>
                    <td class="content-wrappable">
                        {{{rational}}}
                        <br>
                        {{#each issueType}}
                        {{#if added}}
                        The following {{type}} were added:
                        <ul>
                            {{#each added}}
                            <li>{{key}}{{#if details}}: {{details}}{{/if}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{#if discontinued}}
                        The following {{type}} were removed:
                        <ul>
                            {{#each discontinued}}
                            <li>{{key}}{{#if details}}: {{details}}{{/if}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{#if changed}}
                        The following {{type}} were changed:
                        <ul>
                            {{#each changed}}
                            <li>{{key}} was previously {{predecessors}}{{#if details}}: {{details}}{{/if}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        <br>
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        {{#if data.sections.sec7.done}}
            <table class="no-border">
                <tr>
                    <td class="content-wrappable no-border">{{{data.sections.sec7.content}}}</td>
                </tr>
            </table>
        {{/if}}
    </div>
</body>
</html>
