<!DOCTYPE html>
<html>

<head>
    <title>{{metadata.type}} for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">Each component has its own version, which is included within this document in its respective document history section</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Base Tag:</td>
                            <td class="content-wrappable">{{metadata.git.baseTag}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Target Tag:</td>
                            <td class="content-wrappable">{{metadata.git.targetTag}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">OpenShift Cluster API URL:</td>
                            <td class="content-wrappable">{{metadata.openShift.apiUrl}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Target environment:</td>
                            <td class="content-wrappable">{{metadata.buildParameter.targetEnvironment}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>{{metadata.type}} for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
        {{#each data.sections}}
            <li><a href="#section_{{@index}}">{{heading}}</a></li>
        {{/each}}
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Installed Component Summary</h2>
        <p><pre>Based on the component type, as mentioned in the TIP, the following components were installed, and where applicable:</pre>
            <ul>
                <li>Tags for promotion were generated (<i>Git Tag Created</i>)</li>
                <li>Configuration was exported, and stored (<i>Exported Configuration Commit</i>)</li>
            </ul>
        </p>
        <table>
            <thead>
                <th class="content-wrappable">Component ID</th>
                <th class="content-wrappable">Type</th>
                <th class="content-wrappable">Installed by ODS</th>
                <th class="content-wrappable">Branch</th>
                <th class="content-wrappable">Commit Build/Installed | Exported Configuration Commit</th>
                <th class="content-wrappable">Git Tag Used (optional)</th>
                <th class="content-wrappable">Git Tag Created (optional)</th>
            </thead>
			<tbody>
				{{#each data.repositories}}
				<tr>
					<td class="content-wrappable">{{id}}</td>
					<td class="content-wrappable">{{type}}</td>
					<td class="content-wrappable">{{doInstall}}</td>
					<td class="content-wrappable">{{data.git.branch}}</td>
					<td class="content-wrappable">{{data.git.commit}} | {{data.git.createdExecutionCommit}}</td>
					<td class="content-wrappable">{{data.git.baseTag}}</td>
					<td class="content-wrappable">{{data.git.targetTag}}</td>
				</tr>
				{{/each}}
			</tbody>
        </table>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Jenkins build log</h2>
        <p><pre>{{data.jenkinsData.log}}</pre></p>
    </div>

</body>
</html>
