<!DOCTYPE html>
<html>

<head>
    <title>Software Development (Coding and Code Review) Plan for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">{{metadata.version}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>Software Development (Coding and Code Review) Plan for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
            <li><a href="#section_1">Purpose</a></li>
            <li><a href="#section_2">Scope</a></li>
            <li><a href="#section_3">Roles and Responsibilities</a></li>
            <li><a href="#section_4">Modules to be Reviewed</a></li>
            <li><a href="#section_5">Code Elements to be Excluded from Review (Where Applicable)</a></li>
            <li><a href="#section_6">Applied Coding Standards</a></li>
            <li><a href="#section_7">Definitions and Abbreviations</a>
            <ol>
                <li><a href="#section_7_1">Definitions</a></li>
                <li><a href="#section_7_2">Abbreviations</a></li>
            </ol>
            </li>
            <li><a href="#section_8">Reference Documents</a></li>
            <li><a href="#section_9">Document History</a></li>
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Purpose</h2>
        <p>The purpose of the Source Code Review Plan for {{metadata.buildParameter.configItem}} is to guide the activities to be performed during the Coding Review process. The review of source code is performed to verify that the code was developed in accordance to pre-defined Coding Standards and verified against the Software Design. In case of an OpenDevStack (<em>BI-IT-DEVSTACK</em>) component this review is done by SonarQube, automated.</p>
        <p>A Source Code Review Report is developed upon the conclusion of the review process to document the results of the review and indicate the suitability of the code for release to development testing.</p>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Scope</h2>
        <p>The scope of the automated review, performed by SonarQube, during the build process, is all modules listed below, based on defined quality rule sets (Quality Profiles). The installation of SonarQube is part of OpenDevStack (<em>BI-IT-DEVSTACK</em>) and hence qualified.</p>
        <p>{{{data.sections.sec2.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_3"><span>3</span>Roles and Responsibilities</h2>
        <p><em>N/A</em>. The review is automated. In case the review passes based on quality gates the pipeline will continue, otherwise it will fail and stop further processes.</p>
        <p>{{{data.sections.sec3.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_3"><span>4</span>Modules to be Reviewed</h2>

        <table class="no-page-break">
            <tr>
                <th>Name of Module</th>
                <th>Functionality</th>
                <th class="content-wrappable">Reference to Software Design Specification</th>
            </tr>
            {{#each data.project.repositories}}
            <tr>
                <td>{{id}}</td>
                <td>{{description}}</td>
                <td>SDS4711</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="page">
        <h2 id="section_5"><span>5</span>Code Elements to be Excluded from Review (Where Applicable)</h2>
        <p>{{{data.sections.sec5.content}}}</p>

        <p>The final list of packages that are scanned and reviewed, is version controlled in the Component's <em>GIT</em> repository, and called <em>sonar-project.properties</em>. Exclusions are mentioned in the property <em>sonar.exclusions</em>.</p>
    </div>

    <div class="page">
        <h2 id="section_6"><span>6</span>Applied Coding Standards</h2>
        <p>The rules and guidelines are stored in Sonarqube. Using the server's URL and adding <em>/coding_rules</em> they can be found. These profiles are version controlled, and provide the ability to view any changes that happened (e.g. disabled rules).</p>
        <p>The SCR contains a reference to the activated quality profile which can be reached through: Sonarqube's URL, appending <em>/coding_rules?activation=true&qprofile=</em><b>quality profile link from report</b>.
        <p>{{{data.sections.sec6.content}}}</p>
    </div>

    <div class="page">
        <h1 id="section_7"><span>7</span>Definitions and Abbreviations</h1>

        <h2 id="section_7_1"><span>7.1</span>Definitions</h2>
        <p>{{{data.sections.sec7s1.content}}}</p>

        <h2 id="section_7_2"><span>7.2</span>Abbreviations</h2>
        <p>{{{data.sections.sec7s2.content}}}</p>

        <h1 id="section_8"><span>8</span>Reference Documents</h1>
        <p>{{{data.sections.sec8.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_9"><span>9</span>Document History</h2>
        <p>{{{data.sections.sec9.content}}}</p>
    </div>
</body>
</html>
