<!DOCTYPE html>
<html>

<head>
    <title>>Software Development (Coding and Code Review) Report for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">{{metadata.version}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>Software Development (Coding and Code Review) Report for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
            <li><a href="#section_1">Purpose</a></li>
            <li><a href="#section_2">Scope</a></li>
            <li><a href="#section_3">Roles and Responsibilities</a></li>
            <li><a href="#section_4">Coding Review Results</a></li>
            <li><a href="#section_5">Conclusion Statement</a></li>
            <li><a href="#section_6">Definitions and Abbreviations</a>
                <ol>
                    <li><a href="#section_6_1">Definitions</a></li>
                    <li><a href="#section_6_2">Abbreviations</a></li>
                </ol>
            </li>
            <li><a href="#section_7">Reference Documents</a></li>
            <li><a href="#section_8">Document History</a></li>
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Purpose</h2>
        <p>The purpose of the Source Code Review Report for <i>{{metadata.buildParameter.configItem}}</i> is to document the results of the coding review and indicate the suitability of the code for release to Development Testing.</p>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Scope</h2>
        <p>The scope of the automated review, performed by SonarQube, during the build process, is all modules listed below, based on defined quality rule sets (Quality Profiles).</br>The installation of SonarQube is part of OpenDevStack (<em>BI-IT-DEVSTACK</em>) and hence qualified.</p>
        <p>{{{data.sections.sec2.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_3"><span>3</span>Roles and Responsibilities</h2>
        <p><em>N/A</em>. The review is automated. In case the review passes based on quality gates the pipeline will continue, otherwise it will fail and stop further processes.</p>
    </div>

    <div class="page">
        <h2 id="section_4"><span>4</span>Coding Review Results</h2>
        <p>The results of the (automated) coding review can be seen in the corresponding SCRR document, generated by SonarQube.</p>
    </div>

    <div class="page">
        <h2 id="section_5"><span>5</span>Conclusion Statement</h2>
        <p>{{{data.sections.sec5.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_6"><span>6</span>Definitions and Abbreviations</h2>
        <p>{{{data.sections.sec6.content}}}</p>

        <h3 id="section_6_1"><span>6.1</span>Definitions</h3>
        <p>{{{data.sections.sec6s1.content}}}</p>

        <h3 id="section_6_2"><span>6.2</span>Abbreviations</h3>
        <p>{{{data.sections.sec6s2.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_7"><span>7</span>Reference Documents</h2>
        <ul>
            <li>Software Development (Coding and Code Review) Plan (version {{metadata.jenkins.buildNumber}}), generated by the Jenkins pipeline build at <a href="{{metadata.jenkins.buildUrl}}">{{metadata.jenkins.buildUrl}}</a>.</li>
            <li>(Automated) Source Code Review Report (SCRR) provided by SonarQube, version (version {{metadata.jenkins.buildNumber}}), , generated by the Jenkins pipeline build at <a href="{{metadata.jenkins.buildUrl}}">{{metadata.jenkins.buildUrl}}</a>.</li>
        </ul>
        <p>{{{data.sections.sec7.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_8"><span>8</span>Document History</h2>
        <p>{{{data.sections.sec8.content}}}</p>
    </div>
</body>
</html>
