<!DOCTYPE html>
<html>

<head>
    <title>Technical Installation Report for '{{metadata.name}}'</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">
        <table id="heading">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">
                                Information
                            </th>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Name:</td>
                            <td class="content-wrappable">{{metadata.name}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Description:</td>
                            <td class="content-wrappable">{{metadata.description}}</td>
                        </tr>
                        <tr>
                            <td class="lean" style="vertical-align: top;">Version:</td>
                            <td class="content-wrappable">{{metadata.version}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Date Created:</td>
                            <td class="content-wrappable">{{metadata.date_created}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Commit:</td>
                            <td class="content-wrappable">{{metadata.git.commit}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git Tag:</td>
                            <td class="content-wrappable">{{metadata.git.targetTag}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Git URL:</td>
                            <td class="content-wrappable">{{metadata.git.url}}</td>
                        </tr>
                        <tr>
                            <td class="lean">OpenShift Cluster API URL:</td>
                            <td class="content-wrappable">{{metadata.openShift.apiUrl}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Job Name:</td>
                            <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Created by Jenkins Build Number:</td>
                            <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
                        </tr>
                        <tr>
                            <td class="lean">Target environment:</td>
                            <td class="content-wrappable">{{metadata.buildParameter.targetEnvironment}}</td>
                        </tr>
                    </table>
                </td>
                <td id="logo" class="lean"></td>
            </tr>
        </table>

        <div id="blueband">&nbsp;</div>

        <h1>Technical Installation Report for '{{metadata.name}}'</h1>

        <h2>Table of Contents</h2>
        <ol class="table-of-contents">
            <li><a href="#section_1">Introduction</a></li>
            <li><a href="#section_2">Installation</a></li>
            <li><a href="#section_3">Diagnostics and Testing</a></li>
            <li><a href="#section_4">Conclusion Statement</a></li>
            <li><a href="#section_5">Definitions and Abbreviations</a>
                <ol>
                    <li><a href="#section_5_1">Definitions</a></li>
                    <li><a href="#section_5_2">Abbreviations</a></li>
                </ol>
            </li>
            <li><a href="#section_6">Reference Documents</a></li>
            <li><a href="#section_7">Document History</a></li>
        </ol>
    </div>

    <div class="page">
        <h2 id="section_1"><span>1</span>Introduction</h2>

        <p>This document describes the installation of the component <em>{{metadata.buildParameter.configItem}}</em>. The installation is based on the corresponding Technical Installation Plan (<em>TIP</em>) of Config Item: {{metadata.buildParameter.configItem}}.</p>

        <p>The plan outlines additional chapters, namely <em>Installation Prerequisites (3)</em> and <em>Environmental Conditions (4)</em>.</p>

        <p>Installation plan reference: ITEMS Document Number <em>{{metadata.version}}-{{metadata.jenkins.buildNumber}}</em>, Version: <em>{{metadata.buildParameter.version}}</em>.</p>

        <h3>Parameters</h3>
        <table class="no-page-break">
            <tr>
                <th class="center lean" colspan="2">Parameters</th>
            </tr>
            <tr>
                <th class="lean">Parameter</th>
                <th class="content-wrappable">Value</th>
            </tr>
            <tr>
                <td>Git Commit Component <em>{{id}}</em></td>
                <td class="content-wrappable">{{data.repo.data.git.commit}}</td>
            </tr>
            <tr>
                <td>Git Repo Component <em>{{id}}</em></td>
                <td class="content-wrappable">{{data.repo.data.git.url}}</td>
            </tr>
            <tr>
                <td>Environment</td>
                <td class="content-wrappable">{{metadata.buildParameter.targetEnvironment}}</td>
            </tr>
            <tr>
                <td>Change ID</td>
                <td class="content-wrappable">{{metadata.buildParameter.changeId}}</td>
            </tr>
            <tr>
                <td>Change Description</td>
                <td class="content-wrappable">{{metadata.buildParameter.changeDescription}}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td class="content-wrappable">{{metadata.buildParameter.version}}</td>
            </tr>
            <tr>
                <td>Config Item</td>
                <td class="content-wrappable">{{metadata.buildParameter.configItem}}</td>
            </tr>
        </table>
    </div>

    <div class="page">
        <h2 id="section_2"><span>2</span>Installation</h2>
        <p>Installations steps have been successfully conducted. Overall installation status:</p>

        <table>
            <tr>
                <td>Status</td>
                <td>OK</td>
            </tr>
        </table>

        <h3 id="section_3"><span>2.1</span>Jenkins</h3>
        <p>Jenkins Job has been successfully executed:</p>

        <table>
            <tr>
                <th class="lean">Name</th>
                <th class="lean">Value</th>
            </tr>
            <tr>
                <td class="lean">Job Number</td>
                <td class="content-wrappable">{{metadata.jenkins.buildNumber}}</td>
            </tr>
            <tr>
                <td class="lean">Job Name</td>
                <td class="content-wrappable">{{metadata.jenkins.jobName}}</td>
            </tr>
            <tr>
                <td class="lean">Build URL</td>
                <td class="content-wrappable">{{metadata.jenkins.buildUrl}}</td>
            </tr>
        </table>

        
        <h3 id="subcomponents"><span>2.2</span>Components</h3>
        
        {{#data.repo}}
        <p>The following components have been successfully installed:<b>{{id}}</b></p>
        {{/data.repo}}

        {{#data.repo.data}}
        
        <h4>Target Deployment Environment</h4>
        <p>The following identifier gives information about the target deployment environment, eg. AWS Account, Azure Subscription:</p>
        <p>{{logs.target.content}}.</p>
        <br>
        
        <h4>Created Resources</h4>
        <p>The following resources have been created to reach the desired state within the target deployment environment:</p>
       
        {{#if logs.created.content}}
            <p><pre>{{logs.created.content}}</pre></p>
        {{else}}
            <p><b>No resources have been created. The target is already in the desired state.</b></p>
        {{/if}}
        <br>  
    
        {{/data.repo.data}}

    </div>

    <div class="page">
        <h2 id="diagnostics-and-testing"><span>3</span>Diagnostics and Testing</h2>
        <p>Diagnostic steps have been successfully applied to the requested component.</p>

        <h3>Diagnostic Status</h3>
        <table class="no-page-break">
            <tr>
                <td>Status</td>
                <td>OK</td>
            </tr>
        </table>

        <h3>Diagnostic Result</h3>

        {{#each data.repo.data.tests.installation.testResults.testsuites}}
        <h4>Test suite "{{name}}"</h4>
        <p>Test suite "{{name}}" ran {{tests}} tests of which {{failures}} tests have failed.</p>
        
        {{#if testcases}}
        <table>
            <tr>
                <th class="lean">Test Description</th>
                <th class="lean">Pass / Fail</th>
            </tr>
            {{#each testcases}}
            <tr>
                <td class="content-wrappable">{{name}}</td>
                <td class="lean">Pass</td>
            </tr>
            {{/each}}
        </table>
        {{else}}           
        <table>
        <tr>
            <th class="lean">Test Description</th>
            <th class="lean">Pass / Fail</th>
        </tr>
        <tr>
            <td class="content-wrappable">N/A</td>
            <td class="lean">N/A</td>
        </tr>
        </table>
        {{/if}}
        {{/each}}


    </div>

    <div class="page">
        <h2 id="section_4"><span>4</span>Conclusion Statement</h2>
        <p>All deliverables of the Technical Installation Plan have been successfully executed and the signature of this Report verifies that the system has been installed according to all requirements stated in the Installation Plan or, in the event the requirements are not met, that the deviations and/or failures are properly documented and addressed.</p>
    </div>

    <div class="page">
        <h2 id="section_5"><span>5</span>Definitions and Abbreviations</h2>

        <h3 id="section_5_1"><span>5.1</span>Definitions</h3>
        <p>{{{data.sections.sec5s1.content}}}</p>

        <h3 id="section_5_2"><span>5.2</span>Abbreviations</h3>
        <p>{{{data.sections.sec5s1.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_6"><span>6</span>Reference Documents</h2>
        <ul>
            <li>{{metadata.buildParameter.configItem}} / {{metadata.version}}-{{metadata.jenkins.buildNumber}} Technical Installation Plan</li>
        </ul>
        <p>{{{data.sections.sec6.content}}}</p>
    </div>

    <div class="page">
        <h2 id="section_7"><span>7</span>Document History</h2>
        <p>{{{data.sections.sec7.content}}}</p>
    </div>
</body>
</html>
